
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<div class="logout-button-container">
    <button class="logout-button" id="logout">Log out</button>
</div>

<script>
    async function logout() {
        const response = await fetch('/logout', {
            method: 'POST',
            headers: {'Content-Type': 'application/json'}
        });
        console.log((response.ok)? 'Logged out successfully' : 'Error logging out');
        window.location.reload();
    }

    $('#logout').click(logout);
</script>

<style>


    .logout-button {
        border: 0.3vh solid white;
        background-color: #2f006f;
        color: #28ffbd;
        height: 15vh;
        width: 20vw;
        margin-top: 3vh;
        font-size: 6.4vh;
        font-family: "Tiny5", sans-serif;
        box-shadow: 0 0 30px 5px #2f006f;
        margin-right: 2vh;
        margin-left: 78%;
    }

    .logout-button:hover {
        background: linear-gradient( #160033, #5e00ff);
    }
</style>