/* paleta de colores Darkmode
    #28ffbd
    #e500ff
    #5e00ff
    #2f006f
    #000000
    #ffffff
*/
@import url('https://fonts.googleapis.com/css2?family=Tiny5&display=swap');


.es-visible{
    color: #000000;
}

.select-pokemon{
    color: white;
}

body{
    margin: 5px;
    padding: 0;
    font-family: "Tiny5", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #000000;
    color: #28ffbd;
}


h1{
    font-size: 50px;
    text-align: center;
}

#title{
    margin-top: 3%;
    font-size: 5em;
    text-align: center;
}
#builds_to_select{
    font-family: "Tiny5", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    height: 50px;
    width: 480px;
    transform: translateY(-15%);
    text-align: center;
}


.container_build_name{
    margin-top: 2%
}

.container_all_pokemon{  
    margin-top: 5%;
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
}

.container_build_name{
    text-align: center;
    font-size: 30px; 
}

.container_build_name input{
    font-size: 25px;
}

#build_name{
    font-family: "Tiny5", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.select2-search__field{
    background-color: black !important;
    color: white !important;
}

.select2-results{
    background-color: black !important;
    scrollbar-color: #5e00ff #000000;
}

.select2-search{
    background-color: black !important;
}

.img_pokemon{
    height: 200px;
    width: 200px;
    margin-top: 15px;
    box-shadow: 0 0 20px #5e00ff;
    margin-right: 20px;
}

.pokemon_container{ 
    width: 800px;
    font-size: 2.5vh;
    box-shadow: 0 0 30px #5e00ff;
    border: 2px solid white;
    border-radius: 5px;
    text-align: center;
    margin: 20px;
}

.datos_container {
    display: flex;
    height: 250px;
}

.info_container {
    margin: auto;
    width:  90%;
    display: flex;
    justify-content: space-between;
    justify-content: center;
    flex-wrap: wrap;
}

.info_container label{
    width: 50%;
}

select{
    height: 30px;
    width: 120px;
    font-size: 20px;
}

.form_pokemon {
    margin: auto;
}   


.btn_nav{
    text-align: center;
}
.btn {
    font-size: 20px;
    height: 50px;
    width: 100px;
}

.select2-container{
    width: 100% !important;
}

.select2-selection{
    background-color: black !important;
    color: white !important;
}

#errorMensaje{
    color: red;
    font-size: 20px;
    text-align: center;   
}
