@import url('https://fonts.googleapis.com/css2?family=Tiny5&display=swap');


.es-visible{
    color: #000000;
}

.select-pokemon{
    color: white;
}

.body_build_form{
    margin: 5px;
    padding: 0;
    font-family: "Tiny5", sans-serif;
    font-weight: 400;
    font-style: normal;
    min-height: 100vh;
    background: linear-gradient(to bottom, #5e00ff, #160033);
    color: #28ffbd;
    overflow-x: hidden;
}


h1{
    font-size: 50px;
    text-align: center;
}
.btn:hover {
    background: linear-gradient(140deg, #160033, #5e00ff);
    color: white;
}
.title{
    margin-top: 3%;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 4.5em;
    text-align: center;
    background-color: #160033;
    border: 2px solid white;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: baseline;
}
#builds_to_select{
    font-family: "Tiny5", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    height: 50px;
    width: 480px;
    transform: translateY(-15%);
    text-align: center;
    background-color: #000000;
    color: #28ffbd;
    margin-left: 20px;
}


.container_build_name{
    margin-top: 2%
}

.container_all_pokemon{  
    margin-top: 5%;
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    min-width: 750px;

    
}

.container_build_name{
    text-align: center;
    font-size: 30px; 
}

.container_build_name input{
    font-size: 25px;
}

#build_name{
    font-family: "Tiny5", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.select2-search__field{
    background-color: black !important;
    color: white !important;
}

.select2-results{
    background-color: black !important;
    scrollbar-color: #5e00ff #000000;
}

.select2-search{
    background-color: black !important;
}

.img_pokemon{
    height: 200px;
    width: 200px;
    margin-top: 15px;
    border: 2px solid white;

    margin-left: 20px;
}

.pokemon_container{ 
    width: 800px;
    font-size: 2.5vh;
    border: 2px solid white;
    background-color: #160033;
    border-radius: 5px;
    text-align: center;
    margin: 20px;
    
}

.datos_container {
    display: flex;
    height: 250px;
}

.info_container {
    margin: auto;
    margin-left: 35px;
    width:  90%;
    display: flex;
    flex-wrap: wrap;
    text-align:justify;
}

.info_container label{
    width: 50%;
}

select{
    height: 30px;
    width: 120px;
    font-size: 20px;
}

.form_pokemon {
    margin: auto;
}   


.btn_nav{
    text-align: center;
}
.btn {
    font-size: 20px;
    height: 50px;
    width: 100px;
    font-family: "Tiny5", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.select2-container{
    width: 100% !important;
}

.select2-selection{
    background-color: black !important;
    color: white !important;
}

#errorMensaje{
    color: red;
    font-size: 20px;
    text-align: center;   
}
