#body_formulario_añadir_pokemon{ /*texto*/
    background: linear-gradient(to bottom, #5e00ff, #160033);;
    border-color: white;
    font-family: "Tiny5", sans-serif;
    font-size: 40px;
    
}
.select2-selection__clear{
    display: none;
}

.formulario{
    width: 1600px;
    margin-left: 40px;
    margin-right: 40px;
    font-family: "Tiny5", sans-serif;
    font-style: normal;
    font-size: 40px;
    background: transparent;
}

.color{
    color: #28ffbd;
}
.cancel_save_button{
    background: #160033;
    font-family: "Tiny5", sans-serif;
    font-size: 40px;
    height: 68px;
    color: #28ffbd;
}

#contenedor_all_against {
    flex-direction: column; 
    display: flex;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 5px solid white;
    width: 1570px;
    height: 310px;
    color: #28ffbd;
    background: #160033;
}

#Submit{
    width: 1592px;
    height: 77px;
    font-size: 50px; 
    border-radius: 5px;
    border: 5px solid white;
    text-align: center;
    color: #28ffbd;
    background: #160033;

}
#usuario{
    width: 1005px;
    height: 365px;
    padding-top: 20px;
    margin-top: 10px;
    margin-right: 20px;
    border-radius: 5px;
    border: 5px solid white;
    font-family: "Tiny5", sans-serif;
    font-size: 40px;
    background: #160033;
}
#ability_1{
    margin-left: 48px;
}
#ability_3{
    margin-left: 48px;
}

#datos_pokemon_caja{
    flex-direction:row; 
    display: flex;
    padding: 30px;
    padding-right: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    width: 470px;
    border-radius: 5px;
    border: 5px solid white;
    font-family: "Tiny5", sans-serif;
    font-size: 40px;
    height: 320px;
    background: #160033;
    transform: translateX(0.5%);
}
#imagen_poke_especie{
    display: flex;
    flex-direction: column;
    width: 300px;
    gap: 10px;
}
#tipos_datos_poke{
    display: flex;
    flex-direction: column;
    margin-left: 60px;
}


.fila {
    margin-bottom: 10px;
}
.input_personalizado{
    font-family: "Tiny5", sans-serif;
    font-size: 40px;
    color: #28ffbd;
    background-color: #160033;
}
.poke_name_especie{
    width: 300px;
    height: 35px;
    font-size: 33px;
    text-align: center;
    font-family: "Tiny5", sans-serif;
    font-size: 40px;
    background-color: #160033;
}
#nombre_nivel{
    flex-direction:row;
    display: flex;
}

h1{ 
    display: flex;
    align-items: center;
    justify-content: center;
}
#poke_LVL{
    width: 70px;
    padding-left: 15px;
}

.against{
    display: flex;
    flex-direction: row;
    height: 70px;
    padding-top: 25px;
    padding-left: 45px;
    margin-top: 5px;
}

.boton{
    margin-left: 1335px;
}
.abilities_elegir{
    width: 440px;
    text-align: center;
    height: 50px;
    margin-bottom: 12px;
}
.pokemon_especie{
    background-color: #160033;
}

.abilities_elegir_inferiores{
    width: 440px;
    text-align: center;
    height: 50px;
    margin-top: 15px;
    
}
#level{
    margin-left: 278px;
}
#name{
    margin-left: 45px;
    margin-top: 180px;
}


#abilities_texto{
    font-size:43px ;
    display: flex;
    margin-left: 230px;
    margin-right: 230px;
    margin-bottom: 20px;
    margin-top: 65px;
    font-family: "Tiny5", sans-serif;
    font-size: 40px;
    background-color: #160033;
}

#pokemon-image{
    width: 304px;
    height: 280px;
    border: 2px solid white
}

.posibles_tipo{
    margin-top: 20px;
    transform: translateX(-11%);
}

.against_texto{
    margin-top: 25px;
}

#bad_against_texto{
    margin-right: 20px;
}

#abilities_container{
    margin-left: 50px;
    transform: translatey(-20%);
}

.img-type-against{
    width:94px;
    height:120px;
    margin-left: 5px;
}
    
.img-type{
    width:94px;
    height:120px;
    margin-top: 20px;
}

.tipo_pokemon_Good_Against{
    margin-left: 20px;
    margin-top: 10px;
}
.tipo_pokemon_Bad_Against{
    margin-left: 20px;
    margin-bottom: 10px;
}

#errorMensaje{
    color: red;
    font-size: 20px;
    text-align: center;   
}

.caja{
    border-radius: 5px;
    border: 5px solid white;
}
