*{ /*texto*/
    font-family: "Tiny5", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    background-color: black;
    border-color: #5e00ff;
    color: #28ffbd;
}
#formulario{ /*Tamaño maximo de todo*/
    width: 1600px;
    margin-left: 40px;
    margin-right: 40px;
}
.cuadrado{ /*Le agrega un borde*/
    border-radius: 5px;
    border: 5px solid #5e00ff;
}
.contenedor {/*Hace que lo que esta dentro este en columnas*/
    flex-direction: column; 
    display: flex;
    padding: 10px;
    margin: 10px;
}


#Submit{ /*caja donde esta el ADD A NEW POKEMON*/
    width: 1568px;
    height: 77px;
    margin-left: 10px;
    font-size: 50px; 
}
#usuario{ /*Le da el tamaño al cuadrado donde se pone el nombre, nivel y habilidades*/
    width: 1000px;
    height: 350px;
}
#datos_pokemon_caja{ /*Caja de la derecha donde estan los datos de la especie del pokemon*/
    flex-direction:row; 
    display: flex;
    padding: 20px;
    padding-right: 50px;
    margin: 10px;
    width: 450px;
}
#imagen_poke{ /*Espacio donde va la imagen del pokemon y la barra para poner la especie pokemon*/
    display: flex;
    flex-direction: column;
    width: 300px;
    gap: 10px;
}
#tipos_datos_poke{ /*Espacio de donde van los 2 tipos del pokemon*/
    display: flex;
    flex-direction: column;
    margin-left: 60px;
}


::placeholder{ /*Les da color a los placeholder*/
    color: #28ffbd;
}
input{
    color: #28ffbd;
    background-color: black;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active { /*Hace que el color del autocompletado se mantenga igual que el de la pagina*/
    -webkit-text-fill-color: #28ffbd;
    -webkit-box-shadow: 0 0 0px 1000px black inset !important;
}

.fila { /*Para que las 4 abilities no esten tan juntas.*/
    margin-bottom: 10px;
}
.poke_name_especie{ /*Tamaño compartido de las cajas de input donde se pone el nombre del pokemon y el tipo*/
    width: 300px;
    height: 35px;
    font-size: 33px;
    text-align: center;
    
}
#nombre_nivel{ /*Permite que el cuadrado de el nombre y el lv y abilities este al mismo nivel que el de los datos del pokemon*/
    flex-direction:row;
    display: flex;
}

h1{ 
    display: flex;
    align-items: center;
    justify-content: center;
}
#poke_LVL{ /*input de nivel de pokemon*/
    width: 70px;
    padding-left: 15px;
}
#abilities{ /*Contenedor de las habilidades*/
    display: flex;
    justify-content: center;
    align-items: center;
}
.against{ /*Contenedores de los 2 against*/
    display: flex;
    flex-direction: row;
}
.against_texto{ /*Hace que los textos against esten al mismo nivel que las img*/
    margin-top: 35px;
    margin-left: 20px;
}
.bad_against{ /*Hace que las img de bad against esten al mismo nivel que las de good*/
    margin-left: 20px;
}
.boton{ /*Los botones*/
    margin-left: 1335px;
}
.abilities_elegir{ /*Las habilidades 1 y 2*/
    width: 440px;
    text-align: center;
    height: 50px;
    margin-bottom: 12px;
}
.abilities_elegir_inferiores{ /*Las habilidades 3 y 4*/
    width: 440px;
    text-align: center;
    height: 50px;
}
#level{/*label de LVL*/
    margin-left: 303px;
}
#name{ /*Es el label de Name*/
    margin-left: 45px;
    margin-top: 180px;
}
.habilidades_contenedor{ /*Aleja un toque las habilidades de "Abilities"*/
    margin-top: 25px;
}
.nombre_nivel_contenedor{ /*Hace que el contenedor de la izquierda del nombre y nivel no este tan cerca del techo*/
    padding-top: 23px;
}
#abilities_texto{ /*Le cambia el tamaño a Abilities*/
    font-size:43px ;
}

#pokemon_imagen{ /*Imagen del pokemon*/
    width: 304px;
    height: 280px;
    border: 2px solid #5e00ff
}
/*Estilos de los tipos*/
.posibles_tipo{ /*Permite que los 2 posibles tipos del pokemon esten un toque separado*/
    margin-top: 10px;
}
.tipo_imagen{ /*Medidas de las imagenes de los tipos de los pokemon*/
    width:94px;
    height:120px;
}
.tipo_pokemon{ /*Es para que los 2 tipos del pokemon esten centrados*/
    transform: translateX(-11%);
}
.tipo_pokemon_Good_Against{ /*los tipos de pokemon de Good against*/
    margin-left: 20px;
    margin-top: 10px;
}
.tipo_pokemon_Bad_Against{ /*los tipos de pokemon de Bad against*/
    margin-left: 20px;
    margin-bottom: 10px;
}

.posibles_tipo {
    display: none;
}
