
.button-container {
    display: flex;
    position: sticky;
    top: 2%;
    margin-left: 80%;
    width: 15vw;
    z-index: 1;
}

.pokemon-button {
    padding: 8px 15px;
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
    background: linear-gradient(145deg, #ff0000, #f08030);
    border: 2px solid #000000;
    border-radius: 8px;
    text-shadow: 2px 2px #000000;
    cursor: pointer;
    transition: transform 0.1s ease-in-out;
    margin-right: 10px
}

.pokemon-button:active {
    transform: scale(0.95);
}

.pokemon-button:hover {
    background: linear-gradient(145deg, #f08030, #ff0000);
}

.login-button {
    background: linear-gradient(145deg, #ffcc00, #ff9900);
    box-shadow: 0 0 10px 0.2em rgba(255, 255, 0, 0.5);
}

.register-button {
    background: linear-gradient(145deg, #3399ff, #0073e6);
    box-shadow: 0 0 10px 0.2em rgba(255, 255, 0, 0.5);
}

.save-button {
    background: linear-gradient(145deg, #00cc00, #009900);
}

.cancel-button {
    background: linear-gradient(145deg, #ff3333, #cc0000);
}

@media (max-aspect-ratio: 1/1) {
    .button-container {
        left: 0;
        width: 35vw;
        height: 5vh;
        position: absolute;
        margin-top: 2vh;
        display: flex;
        margin-left: 60%;
    }
}