#edit_profile_form {
    background: #160033;
    border-radius: 5px;
    border: 3px solid white;
    font-family: "Tiny5", sans-serif;
    color: #28ffbd;
    height: 700px;
    width: 710px;
    padding: 20px;
}

.tittle_edit_profile {
    font-size: 40px;
    text-align: center;
    margin-top: 10px;
}


.edit_profile_container_datos{
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    font-size: 30px;
}

.label_edit_profile{
    margin-left: 30px;
    margin-top: 20px;
}
