/* paleta de colores Darkmode
    #28ffbd
    #e500ff
    #5e00ff
    #2f006f
    #000000
    #ffffff
*/

*{
    margin: 5px;
    padding: 0;
}


h1{
    font-size: 50px;
    text-align: center;
}


.container_build_name{
    text-align: center;
    font-size: 30px;  
}
.container_build_name input{
    height: 30px;
}


.img_pokemon{
    height: 200px;
    width: 200px;
}
.pokemon_container{
    display: flex;
    width: 800px;
    font-size: 25px;
    border: #5e00ff solid 5px;
    background-color: #28ffbd;
}

select{
    height: 30px;
    width: 120px;
    font-size: 20px;
}

