#user-info-container {
    background: linear-gradient(to bottom, #5e00ff, #2f006f);
    padding: 10px; /* Añade relleno para separar el contenido del borde */
    display: flex; /* Usa flexbox para alinear elementos */
    justify-content: center; /* Centra los elementos horizontalmente */
}

.user-info-item {
    margin: 0 10px; /* Margen entre los elementos */
    font-family: "Tiny5", sans-serif; /* Tipo de fuente */
    font-size: 1.5em; /* Tamaño de fuente */
    border: 2px solid white; /* Borde blanco */
    padding: 3px 10px; /* Espacio entre el texto y el contenedor */
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
}

#builds-title-container {
    background: linear-gradient(to bottom, #5e00ff, #2f006f);
    max-width: 1190px;
    padding: 5px;
    margin-top: 5px;
    text-align: center;
}

#pokemons-title-container {
    background: linear-gradient(to bottom, #5e00ff, #2f006f);
    max-width: 600px;
    padding: 5px;
    margin-top: 5px;
    text-align: center;
    margin-left: 1210px;
    margin-top: -120px;
}

#container {
    margin-top: 270px; /* Margen superior para separar del contenedor anterior */
    margin-left: -20px; /* Margen izquierdo para alinear a la izquierda */
}

.build-container:first-child {
    margin-top: 0;
}

.build-container:last-child {
    margin-bottom: 335px;
}

#user-pokemons-container {
    background: linear-gradient(to bottom, #5e00ff, #2f006f);
    max-width: 1190px;
    max-height: 1190px;
    padding: 5px;
    margin-left: 1210px;
    margin-top: 10px;
}