/*
#build-details-container {
    width: 22%;
    height: 100%;
    float: right;
    background: linear-gradient(to bottom, #5e00ff, #2f006f);
    color: white;
    padding: 16px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    -webkit-box-reflect: below 2px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(70%, transparent), to(rgba(255, 255, 255, 0.75)));
    border-radius: 5px;
}

#build-details-name {
    font-family: "Tiny5", sans-serif;
    font-size: 2.5em;
    overflow: auto;
    white-space: pre-wrap;
    max-width: 100%;
    max-height: 100%;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    border: 2px solid white;
    border-radius: 5px;
}

#build-details-name::-webkit-scrollbar {
    width: 5px;
    height: 10px;
}

#build-details-name::-webkit-scrollbar-thumb {
    background-color: #6a00ff;
    border-radius: 10px;
}

#build-details-pokemons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    align-items: center;
}

#build-details-pokemons .pokemon {
    position: relative;
    width: 170px;
    height: 170px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.5);
    margin: 5px;
    border-radius: 5px;
    overflow: hidden;
}

#build-details-pokemons .pokemon::before {
    content: '';
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    background: linear-gradient(45deg, rgba(138, 43, 226, 0.8), rgba(75, 0, 130, 0.8), rgba(138, 43, 226, 0.8), rgba(75, 0, 130, 0.8));
    background-size: 300% 300%;
    border-radius: 5px;
    z-index: -1;
    animation: fireEffect 2s ease-in-out infinite;
}
*/

#user-info-container {
    background: linear-gradient(to bottom, #5e00ff, #2f006f);
    padding: 10px; /* Añade relleno para separar el contenido del borde */
    display: flex; /* Usa flexbox para alinear elementos */
    justify-content: center; /* Centra los elementos horizontalmente */
}

.user-info-item {
    margin: 0 10px; /* Margen entre los elementos */
    font-family: "Tiny5", sans-serif; /* Tipo de fuente */
    font-size: 1.5em; /* Tamaño de fuente */
    border: 2px solid white; /* Borde blanco */
    padding: 3px 10px; /* Espacio entre el texto y el contenedor */
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
}

#builds-title-container {
    background: linear-gradient(to bottom, #5e00ff, #2f006f);
    max-width: 1190px;
    padding: 5px;
    margin-top: 5px;
    text-align: center;
}

#pokemons-title-container {
    background: linear-gradient(to bottom, #5e00ff, #2f006f);
    max-width: 600px;
    padding: 5px;
    margin-top: 5px;
    text-align: center;
    margin-left: 1210px;
    margin-top: -120px;
}

#container {
    margin-top: 270px; /* Margen superior para separar del contenedor anterior */
    margin-left: -20px; /* Margen izquierdo para alinear a la izquierda */
}

.build-container:first-child {
    margin-top: 0;
}

.build-container:last-child {
    margin-bottom: 335px;
}

#user-pokemons-container {
    background: linear-gradient(to bottom, #5e00ff, #2f006f);
    max-width: 1190px;
    max-height: 1190px;
    padding: 5px;
    margin-left: 1210px;
    margin-top: 10px;
}