<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Jacquard+12&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&family=Tiny5&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/delete_forms.css') }}">
    <title>DELETE POKEMON</title>
</head>
<body>
    <div id="delete_pokemon_container">
        <form action="{{ url_for('frontend.delete_pokemon', owner_id=owner_id) }}" id="delete_pokemon" class="" method="post" data-owner-id="{{ owner_id }}">
            <div class="tittle_remove_your_">REMOVE YOUR POKEMON:</div>
            <br>
            <label for="select_delete_pokemon" class="texto_delete_pokemon">SELECT YOUR POKEMON:</label>
            <select name="select_delete_pokemon" id="select_delete_pokemon" class="texto_delete_pokemon select_delete">
                {% for pokemon in pokemons %}
                    <option value="{{ pokemon.id }}">{{ pokemon.name }}</option>
                {% endfor %}
            </select>
            <button type="submit" class="texto_delete_pokemon botones_delete_cancel" id="DELETE_delete_pokemon_button">DELETE</button>
            <button class="texto_delete_pokemon botones_delete_cancel" id="CANCEL_delete_pokemon_button" type="reset">CANCEL</button>
        </form>
    </div>
    <script >
        function delete_pokemon_by_id(event) {
    event.preventDefault();
    
    const form = document.getElementById('delete_pokemon');
    const owner_id = form.getAttribute('data-owner-id');


    const pokemon_selected = document.getElementById('select_delete_pokemon');
    const pokemon_id = pokemon_selected.value;
    console.log('Owner ID:', owner_id);
    console.log('Pokemon ID:', pokemon_id);
    fetch(`/api/delete_pokemon/${owner_id}/${pokemon_id}`, {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        }
    })
    .then(async response => {
        if (!response.ok) {
            console.log('Network response was not ok');
            const error = await response.text();
            throw new Error(error);
        }
        return response.json();
    })
    .then(result => {
        // Eliminar el pokemon de la lista de opciones
        const optionToRemove = document.querySelector(`option[value="${pokemon_id}"]`);
        if (optionToRemove) {
            optionToRemove.remove();
        }
        console.log('Pokemon deleted successfully:', result.message);
        window.location.href = `/user_profile/${owner_id}`;
    })
    .catch(error => {
        console.error('Failed to delete pokemon:', error);
    });
}

document.getElementById('delete_pokemon').addEventListener('submit', delete_pokemon_by_id);
$('#CANCEL_delete_pokemon_button').click(function() {
    window.location.href = '/user_profile/{{ owner_id }}';
});
    </script>
</body>
</html>