<div class="build-container">
    <div class="build-name-container">{{ build.build_name }}</div>
    <div class="profile-container">
        <img class="profile-pic" src="{{ build.profile_picture }}" alt="profile picture">
        <div class="profile-name"><p>{{ build.username }}</p></div>
    </div>
    <div class="pokemon-container">
        {% for i in range(1, 7) %}
            <div class="pokemon pokemon{{ i }}" style="background-image: url('https://www.pokemon.com/static-assets/content-assets/cms2/img/pokedex/full/{{ build['pokemon_id_' ~ i] }}.png')"></div>
        {% endfor %}
    </div>
</div>
