<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search and Delete Builds</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/delete_forms.css')}}">
    <link href="https://fonts.googleapis.com/css2?family=Jacquard+12&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&family=Tiny5&display=swap" rel="stylesheet">

</head>
<body>
    <div class="container" id="delete_build_container">
        <div class="tittle_remove_your_">REMOVE YOUR BUILD:</div>
        <label for="" class="texto_delete_pokemon">SELECT YOUR BUILD:</label>
        <select id="editable-select" class="texto_delete_pokemon select_delete">
            {% for build in builds %}
                <option class="" id="{{ build.id }}">{{ build.build_name }}</option>
            {% endfor %}
        </select>
        <br>
        <button class="texto_delete_pokemon botones_delete_cancel" id="delete_builds_btn">Delete</button>
        <button class="texto_delete_pokemon botones_delete_cancel" id="cancel_builds_btn">Cancel</button>
    </div>

    <script>
        const select = document.getElementById('editable-select');
        const deleteBtn = document.getElementById('delete_builds_btn');
        const cancelBtn = document.getElementById('cancel_builds_btn');

        deleteBtn.addEventListener('click', event => {
            event.preventDefault();
            const selectedBuild = select.options[select.selectedIndex];
            const buildId = selectedBuild.id;
            console.log(buildId);
            fetch(`/api/delete_build/`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ build_id: buildId })
            })
            .then(response => response.json())
            .then(data => {
                if (data.message) {
                    console.log('Build deleted successfully');
                    window.location.href = '/user_profile/{{ owner_id }}'; 
                } else {
                    console.log('An error occurred: ' + (data.error || 'Unknown error'));
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
        });

        cancelBtn.addEventListener('click', () => {
            window.location.href = '/'; 
        });
    </script>
</body>
</html>


