<div class="build-container">
    <div class="build-name-container">{{ build.build_name }}</div>
    <div class="profile-container">
        <img class="profile-pic" src="/static/images/Logo.png">
        <div class="profile-name"><p>{{ build.owner_id }}</p></div>
    </div>
    <div class="pokemon-container">
        <div class="pokemon pokemon1" style="background-image: url('https://www.pokemon.com/static-assets/content-assets/cms2/img/pokedex/full/{{ build.pokemon_id_1 }}.png')"></div>
        <div class="pokemon pokemon2" style="background-image: url('https://www.pokemon.com/static-assets/content-assets/cms2/img/pokedex/full/{{ build.pokemon_id_2 }}.png')"></div>
        <div class="pokemon pokemon3" style="background-image: url('https://www.pokemon.com/static-assets/content-assets/cms2/img/pokedex/full/{{ build.pokemon_id_3 }}.png')"></div>
        <div class="pokemon pokemon4" style="background-image: url('https://www.pokemon.com/static-assets/content-assets/cms2/img/pokedex/full/{{ build.pokemon_id_4 }}.png')"></div>
        <div class="pokemon pokemon5" style="background-image: url('https://www.pokemon.com/static-assets/content-assets/cms2/img/pokedex/full/{{ build.pokemon_id_5 }}.png')"></div>
        <div class="pokemon pokemon6" style="background-image: url('https://www.pokemon.com/static-assets/content-assets/cms2/img/pokedex/full/{{ build.pokemon_id_6 }}.png')"></div>
    </div>
</div>
