<link rel="stylesheet" href='../static/css/pokemon_container.css'>

<h1>CREATE A NEW BUILD</h1>
<div class="container_searchbar">
    <input type="text" placeholder="Search Pokémon">
</div>
<div class="pokemon_container">
    <img src="../static/images/bebe_meme.jpg">
    <form action="" class="form_pokemon">
        <label for="">NAME</label>
        <input type="text">
        <label for="">LVL</label>
        <input type="text">
        <br>
        <label for="">POKEMON</label>
        <select name="" id="">
            <option value="">pepe</option>
            <option value="">juan</option>
            <option value="">ash</option>
            <option value="">ace</option>
        </select>
        <label for="">HABILITIES</label>
        <select name="" id="">
            <option value="">piña fuerte</option>
            <option value="">sopapo</option>
            <option value="">molinete</option>
            <option value="">guardia</option>
        </select>




    </form>
</div>