<link rel="stylesheet" href='../static/css/pokemon_container.css'>

<h1>CREATE A NEW BUILD</h1>

<!-- build name -->
<form action="" class="container_build_name">
    <label for="">BUILD NAME</label>
    <input type="text">
</form>

<div class="pokemon_container">
    <img class="img_pokemon" src="../static/images/Logo.png">
    <form action="" class="form_pokemon">
        <!-- nombre de pokemon -->
        <label for="">NAME</label>
        <input type="text">
        <!-- nivel del pokemon -->
        <label for="">LVL</label>
        <input type="text">
        <br>
        <!-- seleccionar pokemon -->
        <label for="">POKEMON</label>
        <select name="" id="">
            <option value="">name1</option>
            <option value="">name2</option>
            <option value="">name3</option>
            <option value="">name4</option>
        </select>
        <!-- habilidades del pokemon -->
        <label for="">ABILITIES</label>
        <select name="" id="">
            <option value="">atack</option>
            <option value="">super</option>
            <option value="">shield</option>
            <option value="">support</option>
        </select>

    </form>
</div>
<div class="pokemon_container">
    <img class="img_pokemon" src="../static/images/Logo.png">
    <form action="" class="form_pokemon">
        <!-- nombre de pokemon -->
        <label for="">NAME</label>
        <input type="text">
        <!-- nivel del pokemon -->
        <label for="">LVL</label>
        <input type="text">
        <br>
        <!-- seleccionar pokemon -->
        <label for="">POKEMON</label>
        <select name="" id="">
            <option value="">name1</option>
            <option value="">name2</option>
            <option value="">name3</option>
            <option value="">name4</option>
        </select>
        <!-- habilidades del pokemon -->
        <label for="">ABILITIES</label>
        <select name="" id="">
            <option value="">atack</option>
            <option value="">super</option>
            <option value="">shield</option>
            <option value="">support</option>
        </select>

    </form>
</div>
<div class="pokemon_container">
    <img class="img_pokemon" src="../static/images/Logo.png">
    <form action="" class="form_pokemon">
        <!-- nombre de pokemon -->
        <label for="">NAME</label>
        <input type="text">
        <!-- nivel del pokemon -->
        <label for="">LVL</label>
        <input type="text">
        <br>
        <!-- seleccionar pokemon -->
        <label for="">POKEMON</label>
        <select name="" id="">
            <option value="">name1</option>
            <option value="">name2</option>
            <option value="">name3</option>
            <option value="">name4</option>
        </select>
        <!-- habilidades del pokemon -->
        <label for="">ABILITIES</label>
        <select name="" id="">
            <option value="">atack</option>
            <option value="">super</option>
            <option value="">shield</option>
            <option value="">support</option>
        </select>

    </form>
</div>
