
<link rel="stylesheet" href="/static/css/pop_up_add.css">
<link href="https://fonts.googleapis.com/css2?family=Tektur:wght@900&amp;display=swap" rel="stylesheet">
<button type="button" id="popup_open">
</button>

<div id="overlay"></div>

<div id="popup">
    <button id="popup_close">Cancelar</button>
    <div class="container">
        <div class="add-pokemon" onclick="location.href='/add_pokemon_form'">
            <p class="text-add-pokemon">Agregar Pokemon</p>
        </div>
        <div class="add-build" onclick="location.href='/add_build_form'">
            <p class="text-add-build">Agregar Build</p>
        </div>
    </div>
</div>

<script src="/static/js/pop_up_add.js"></script>