<!DOCTYPE html>
<html lang="en">
<head>
    <script>var pokedex_id = 1;</script>
    <meta charset="UTF-8">
    <title>Pokémon Moves Search</title>
    <script src="//code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="//rawgithub.com/indrimuska/jquery-editable-select/master/dist/jquery-editable-select.min.js"></script>
    <link href="//rawgithub.com/indrimuska/jquery-editable-select/master/dist/jquery-editable-select.min.css" rel="stylesheet">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
        .search-container {
            margin: 20px;
        }
        .result-container {
            margin: 20px;
            border: 1px solid #ddd;
            padding: 10px;
        }
        .pokemon_searchbar {
            width: 200px;
        }
        .es-visible{
            font-family: 'Roboto', sans-serif;
        }
    </style>
</head>
<body>
    <form>
        <div id="pokemonSearchbarContainer">{% include 'pokemon_searchbar.html' %}</div>
        <div id="abilitySearchbarContainer">{% for i in range(4) %}{% include 'ability_searchbar.html' %}{% endfor %}</div>
        <button type="submit">AGREGAR</button>
    </form>

    <script>
        document.getElementById('editable-select').onchange = function() {
            var name = document.querySelector('.es-visible').textContent;
            var id = document.querySelector('.es-visible').id;
            var moves;
            fetch('/api/moves/' + id)
            .then(response => response.json())
            .then(data => {
                var moves = data.moves;
                console.log(moves);

                var movesSelect = document.querySelector('.ability_1');
                var movesSelect2 = document.querySelector('.ability_2');
                var movesSelect3 = document.querySelector('.ability_3');
                var movesSelect4 = document.querySelector('.ability_4');

                movesSelect.innerHTML = '<option value="" disabled selected>Select move</option>';
                movesSelect2.innerHTML = '<option value="" disabled selected>Select move</option>';
                movesSelect3.innerHTML = '<option value="" disabled selected>Select move</option>';
                movesSelect4.innerHTML = '<option value="" disabled selected>Select move</option>';

                moves.forEach(move => {
                    var option1 = document.createElement('option');
                    option1.value = move;
                    option1.textContent = move;
                    movesSelect.appendChild(option1);

                    var option2 = document.createElement('option');
                    option2.value = move;
                    option2.textContent = move;
                    movesSelect2.appendChild(option2);

                    var option3 = document.createElement('option');
                    option3.value = move;
                    option3.textContent = move;
                    movesSelect3.appendChild(option3);

                    var option4 = document.createElement('option');
                    option4.value = move;
                    option4.textContent = move;
                    movesSelect4.appendChild(option4);
                });
            });
        };
    </script>
</body>
</html>
